{% extends 'base.html' %}


{% block content %}

<center>
    
    <h2>Supervisor Dashboard</h2>

    <div class="supwrapper">

        <div class="card">
            <h3>Number of Staff</h3>
            <b>{{staff_total}}</b>
        </div>

        <div class="card">
            <h3>Number of Leaves</h3>
            <b>{{leave_total}}</b>
        </div>

        <div class="card">
            <h3>Number of Approved Leaves</h3>
            <b>{{approved_leaves_count}}</b>
        </div>

        <div class="card">
            <h3>Number of Pending Leaves</h3>
            <b>{{pending_leaves_count}}</b>
        </div>
    </div>

</center>

    
{% endblock content %}


    